.CartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
  }
  
  .CartItem p {
    margin: 0;
  }
  
  .CartItem p:first-child {
    flex: 1;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .CartItem p:last-child {
    font-weight: bold;
  }
  